<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Frictlist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F4EE09D176E97B100642169</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FCACAFB187A3F8900C77A60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FCACB28187A414400C77A60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FCACB54187A416D00C77A60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
